* {
    margin: 0;
    padding: 0;
}

.navbar-toggler {
    background-color: rgb(76, 76, 76) !important;
}

.container.fluid {
    width: 100%;
} */

/* #card1 {
    margin-top: 10px;
} */

#navbarNav {
    display: flex;
    justify-content: flex-end;
    z-index: 5;
}

.jumbotron {
    background-image: url(/Images/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 93vh;
}

.text {
    text-align: left;
}


.nav-item {
    text-decoration: antiquewhite;
}

#aboutme {
    display: flex;
    justify-content: flex-end;
}